<ng-container *ngIf="{ c: is_light$ | async } as is_light">
  <div
    class="main"
    [class.primary_white]="is_light.c"
    [class.primary_black]="!is_light.c"
  >
    <div
      class="head"
      [class.secondary_white]="is_light.c"
      [class.secondary_black]="!is_light.c"
    >
      <div>
        <h4>Where in the world?</h4>
      </div>
      <div class="right" (click)="changeTheme()">
        <img
          [src]="
            is_light.c
              ? './assets/images/dark-mode.svg'
              : './assets/images/light-mode.svg'
          "
        />
        <h5>{{ is_light.c ? "Dark Mode" : "Light Mode" }}</h5>
      </div>
    </div>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
